.semi-transparent-bg {
    background-color: rgba(247,190,200, 0.7);
    border-radius: 10px;
    padding: 20px;
  }
  
  .custom-table {
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 0;
  }
  
  .custom-table th, .custom-table td {
    background-color: rgba(247,190,200, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.9);
    padding: 8px;
  }

.custom-table thead th {
  background-color: rgba(247,190,200, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
}

.custom-table tbody tr:last-child td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
}

.custom-table th:first-child,
.custom-table td:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.9);
}

.custom-table th:last-child,
.custom-table td:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.9);
}

