<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h1 class="mb-4">導覽頁</h1>
        <div class="d-grid gap-3">
          <button class="btn btn-primary btn-lg" routerLink="/equation">人生方程式</button>
          <button class="btn btn-primary btn-lg" routerLink="/bus">公車資訊</button>
          <button class="btn btn-secondary btn-lg" routerLink="/users">帳號管理</button>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
